* {
  box-sizing: border-box;
}

body {
  /* Casino table background color */
  background: #35654d;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}